.loader-text-from-up {
    animation: slideInFromTop 5s ease-out forwards;
    animation-delay: 5s;
}

.shining-text {
    animation: shine 5s infinite;
    background: linear-gradient(90deg, #2272ff, #fff, #2272ff);
    background-size: 40% auto;
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}